<a href="https://colab.research.google.com/github/alvarorosaassuncao/Analise-Exploratoria-de-Dados/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de Produção de Petróleo no ano de 2021
 * Dados Públicos

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
dados = pd.read_csv('/content/anuario-2022-dados-abertos-produção-de-petroleo.csv', sep = ';')
dados.head()

      BLOCO REGIÃO GEOGRÁFICA    PAÍS   ANO PRODUÇÃO DE PETRÓLEO
0  NÃO OPEP  América do Norte  Canadá  2012                 3740
1  NÃO OPEP  América do Norte  Canadá  2013          4000,410965
2  NÃO OPEP  América do Norte  Canadá  2014          4270,529903
3  NÃO OPEP  América do Norte  Canadá  2015          4388,135578
4  NÃO OPEP  América do Norte  Canadá  2016          4463,638847

In [ ]:
dados.shape

(550, 5)

In [ ]:
dados.describe

<bound method NDFrame.describe of         BLOCO REGIÃO GEOGRÁFICA    PAÍS   ANO PRODUÇÃO DE PETRÓLEO
0    NÃO OPEP  América do Norte  Canadá  2012                 3740
1    NÃO OPEP  América do Norte  Canadá  2013          4000,410965
2    NÃO OPEP  América do Norte  Canadá  2014          4270,529903
3    NÃO OPEP  América do Norte  Canadá  2015          4388,135578
4    NÃO OPEP  América do Norte  Canadá  2016          4463,638847
..        ...               ...     ...   ...                  ...
545  NÃO OPEP     Ásia-Pacífico  Outros  2017          273,0328725
546  NÃO OPEP     Ásia-Pacífico  Outros  2018          233,6355806
547  NÃO OPEP     Ásia-Pacífico  Outros  2019          230,4173108
548  NÃO OPEP     Ásia-Pacífico  Outros  2020          208,3920316
549  NÃO OPEP     Ásia-Pacífico  Outros  2021          198,5865296

[550 rows x 5 columns]>

In [ ]:
dados['PRODUÇÃO DE PETRÓLEO'] = dados['PRODUÇÃO DE PETRÓLEO'].apply(lambda x: str(x).replace(",","."))

In [ ]:
dados['PRODUÇÃO DE PETRÓLEO']

0             3740
1      4000.410965
2      4270.529903
3      4388.135578
4      4463.638847
          ...
545    273.0328725
546    233.6355806
547    230.4173108
548    208.3920316
549    198.5865296
Name: PRODUÇÃO DE PETRÓLEO, Length: 550, dtype: object

In [ ]:
dados['PRODUÇÃO DE PETRÓLEO'].astype('float64')

0      3740.000000
1      4000.410965
2      4270.529903
3      4388.135578
4      4463.638847
          ...
545     273.032872
546     233.635581
547     230.417311
548     208.392032
549     198.586530
Name: PRODUÇÃO DE PETRÓLEO, Length: 550, dtype: float64

In [ ]:
dados = dados[['PAÍS','ANO','REGIÃO GEOGRÁFICA','PRODUÇÃO DE PETRÓLEO']]
dados.head(10)

     PAÍS   ANO REGIÃO GEOGRÁFICA PRODUÇÃO DE PETRÓLEO
0  Canadá  2012  América do Norte                 3740
1  Canadá  2013  América do Norte          4000.410965
2  Canadá  2014  América do Norte          4270.529903
3  Canadá  2015  América do Norte          4388.135578
4  Canadá  2016  América do Norte          4463.638847
5  Canadá  2017  América do Norte          4813.033351
6  Canadá  2018  América do Norte          5243.879959
7  Canadá  2019  América do Norte          5372.417032
8  Canadá  2020  América do Norte          5130.296404
9  Canadá  2021  América do Norte          5428.813233

In [ ]:
dados

       PAÍS   ANO REGIÃO GEOGRÁFICA PRODUÇÃO DE PETRÓLEO
0    Canadá  2012  América do Norte                 3740
1    Canadá  2013  América do Norte          4000.410965
2    Canadá  2014  América do Norte          4270.529903
3    Canadá  2015  América do Norte          4388.135578
4    Canadá  2016  América do Norte          4463.638847
..      ...   ...               ...                  ...
545  Outros  2017     Ásia-Pacífico          273.0328725
546  Outros  2018     Ásia-Pacífico          233.6355806
547  Outros  2019     Ásia-Pacífico          230.4173108
548  Outros  2020     Ásia-Pacífico          208.3920316
549  Outros  2021     Ásia-Pacífico          198.5865296

[550 rows x 4 columns]

In [ ]:
dados_brasil_df = dados.loc[dados['PAÍS']=='Brasil']

## Dados produção de Petróleo do Brasil 2021

In [ ]:
dados_brasil_df

      PAÍS   ANO          REGIÃO GEOGRÁFICA PRODUÇÃO DE PETRÓLEO
40  Brasil  2012  Américas Central e do Sul                 2145
41  Brasil  2013  Américas Central e do Sul          2109.938141
42  Brasil  2014  Américas Central e do Sul          2341.371973
43  Brasil  2015  Américas Central e do Sul          2524.987068
44  Brasil  2016  Américas Central e do Sul           2607.41969
45  Brasil  2017  Américas Central e do Sul          2731.237613
46  Brasil  2018  Américas Central e do Sul          2690.961662
47  Brasil  2019  Américas Central e do Sul          2889.715185
48  Brasil  2020  Américas Central e do Sul          3030.270809
49  Brasil  2021  Américas Central e do Sul          2987.162464

# Dados produção de Petróleo da América do Norte

In [ ]:
America_norte = dados.loc[dados['REGIÃO GEOGRÁFICA'] == 'América do Norte']

In [ ]:
America_norte

              PAÍS   ANO REGIÃO GEOGRÁFICA PRODUÇÃO DE PETRÓLEO
0           Canadá  2012  América do Norte                 3740
1           Canadá  2013  América do Norte          4000.410965
2           Canadá  2014  América do Norte          4270.529903
3           Canadá  2015  América do Norte          4388.135578
4           Canadá  2016  América do Norte          4463.638847
5           Canadá  2017  América do Norte          4813.033351
6           Canadá  2018  América do Norte          5243.879959
7           Canadá  2019  América do Norte          5372.417032
8           Canadá  2020  América do Norte          5130.296404
9           Canadá  2021  América do Norte          5428.813233
10  Estados Unidos  2012  América do Norte                 8931
11  Estados Unidos  2013  América do Norte            10103.356
12  Estados Unidos  2014  América do Norte          11806.64834
13  Estados Unidos  2015  América do Norte          12783.33801
14  Estados Unidos  2016  América do Norte          12353.65917
15  Estados Unidos  2017  América do Norte          13139.89166
16  Estados Unidos  2018  América do Norte          15309.99171
17  Estados Unidos  2019  América do Norte          17113.80073
18  Estados Unidos  2020  América do Norte           16457.7049
19  Estados Unidos  2021  América do Norte          16585.24932
20          México  2012  América do Norte                 2911
21          México  2013  América do Norte          2882.024902
22          México  2014  América do Norte          2791.502951
23          México  2015  América do Norte          2593.043572
24          México  2016  América do Norte          2460.713679
25          México  2017  América do Norte          2227.450639
26          México  2018  América do Norte          2071.580423
27          México  2019  América do Norte          1920.529515
28          México  2020  América do Norte          1911.591973
29          México  2021  América do Norte          1927.648564

## Dados Produção de Petróleo do Pacífico da Ásia

In [ ]:
Asia_pacifico = dados.loc[dados['REGIÃO GEOGRÁFICA'] == 'Ásia-Pacífico']

In [ ]:
Asia_pacifico

          PAÍS   ANO REGIÃO GEOGRÁFICA PRODUÇÃO DE PETRÓLEO
460  Austrália  2012     Ásia-Pacífico                  472
461  Austrália  2013     Ásia-Pacífico          400.5602318
462  Austrália  2014     Ásia-Pacífico          420.2556276
463  Austrália  2015     Ásia-Pacífico          378.4788865
464  Austrália  2016     Ásia-Pacífico          353.2232446
..         ...   ...               ...                  ...
545     Outros  2017     Ásia-Pacífico          273.0328725
546     Outros  2018     Ásia-Pacífico          233.6355806
547     Outros  2019     Ásia-Pacífico          230.4173108
548     Outros  2020     Ásia-Pacífico          208.3920316
549     Outros  2021     Ásia-Pacífico          198.5865296

[90 rows x 4 columns]

# Visualizando todos os Países da Tabela

In [ ]:
dados_países = dados['PAÍS'].value_counts()

In [ ]:
dados_países

Outros                    60
Canadá                    10
Nigéria                   10
Omã                       10
Síria                     10
Argélia                   10
Angola                    10
Chade                     10
Congo                     10
Egito                     10
Gabão                     10
Guiné-Equatorial          10
Líbia                     10
Sudão                     10
Irã                       10
Sudão do Sul              10
Tunísia                   10
Austrália                 10
Brunei                    10
China                     10
Índia                     10
Indonésia                 10
Malásia                   10
Tailândia                 10
Iraque                    10
Iêmen                     10
Estados Unidos            10
Emirados Árabes Unidos    10
México                    10
Argentina                 10
Brasil                    10
Colômbia                  10
Equador                   10
Peru                      10
Trinidad e Tobago         10
Venezuela                 10
Dinamarca                 10
Itália                    10
Noruega                   10
Reino Unido               10
Romênia                   10
Azerbaijão                10
Cazaquistão               10
Rússia                    10
Turcomenistão             10
Uzbequistão               10
Arábia Saudita            10
Catar                     10
Coveite                   10
Vietnã                    10
Name: PAÍS, dtype: int64

In [ ]:
dados_produção = dados['PRODUÇÃO DE PETRÓLEO'].value_counts()

In [ ]:
dados_produção

3740           1
274            1
234.2085       1
232.008        1
269.73         1
              ..
774.7863562    1
795.6591918    1
792.7550959    1
837.5235109    1
198.5865296    1
Name: PRODUÇÃO DE PETRÓLEO, Length: 550, dtype: int64

## Resultado final de produção por Região Geográfica

In [ ]:
producao_total = dados.groupby('REGIÃO GEOGRÁFICA').sum()

In [ ]:
producao_total

                                         ANO
REGIÃO GEOGRÁFICA
América do Norte                       60495
Américas Central e do Sul             161320
Comunidade dos Estados Independentes  120990
Europa                                120990
Oriente Médio                         201650
África                                262145
Ásia-Pacífico                         181485

In [ ]:
import plotly.express as px

In [ ]:
dados.head()

     PAÍS   ANO REGIÃO GEOGRÁFICA PRODUÇÃO DE PETRÓLEO
0  Canadá  2012  América do Norte                 3740
1  Canadá  2013  América do Norte          4000.410965
2  Canadá  2014  América do Norte          4270.529903
3  Canadá  2015  América do Norte          4388.135578
4  Canadá  2016  América do Norte          4463.638847

In [ ]:
px.histogram(dados, x = 'ANO', color=  'REGIÃO GEOGRÁFICA')